<div class="media">
  <div class="media-left">
    <div
        class="content bulb {{bulbClass}} {{if pin.enabled 'on' 'off'}}"
        role="button"
        onclick={{action "updatePinValue"}}></div>
  </div>

  <div class="media-body {{if pin.enabled 'on' 'off'}}">
    <div class="media-heading">
      {{pin.name}} {{if pin.enabled '<='}}
      <span class="sr-only">{{if pin.enabled 'on' 'off'}}</span>
    </div>
    <div class="media-content">{{description}}</div>
  </div>
</div>
