<div class="container">
  <div
     class="update-status pull-right alert {{if partyMode.isRunning 'alert-success' 'alert-info'}} {{if showFlash 'in'}}"
      aria-hidden={{if showFlash "true" "false"}}>
      {{#if partyMode.isRunning}}
        It is time to <strong>PARTY!</strong>
      {{else}}
        Pin statuses updated
      {{/if}}
  </div>

  <h1>Engineering Traffic Light</h1>

  <div id="route-actions" class="btn-group">
    {{#link-to "index"
        tagName="button"
        class="btn btn-default"
        activeClass="btn-info"}}
      Home
    {{/link-to}}
    {{#link-to "settings"
        tagName="button"
        class="btn btn-default"
        activeClass="btn-info"}}
      Settings
    {{/link-to}}
  </div>

  <div class="main-content">
    {{outlet}}
  </div>
</div>
