<div class="pin-lights">
  {{#each pins as |pin|}}
    {{pin-light pin=pin update=(action "setPin" pin)}}
  {{else}}
    <div class="alert alert-warning">
      No light configurations found on RaspberryPi
    </div>
  {{/each}}
</div>

{{#ember-wormhole to="route-actions"}}
  <div>
    {{#if partyMode.isIdle}}
      <button
          class="btn btn-primary"
          disabled={{isAllPinsOff}}
          onclick={{action "setPin" null}}>
        Turn off
      </button>
      <button
          class="btn btn-warning"
          onclick={{perform partyMode pins}}>
        Party Mode
      </button>
    {{else}}
      <button
          class="btn btn-success"
          onclick={{cancel-all partyMode}}>
        Normal Mode
      </button>
    {{/if}}
  </div>
{{/ember-wormhole}}
